$background-color: #fff;
$img: url(../img/m-h-day.jpg);
$font-family:'Source Sans Pro', sans-serif;
$markedText: #14a0c7;
$headerTextColor: #2c2f3c;
$buttonColor: #699900;
$welcomeTitle: #2c2f3c;
$cardBackgroundColor: #21232e;
$cardTitleColor: #fff;
$cardTextColor: #bbc3c4;
$cardLinkColor: #c0c3ce;
$bunnerColorGradient1: #699900;
$bunnerColorGradient2: #315fca;
$bunerTitleColor: #2c2f3c;
$bunnerTextColor: #c0c3ce;
$footerBackgroundColor: #21232e;
$footerTextColor: #c0c3ce;

$source-font-family: 'Source Sans Pro', sans-serif;
$hind-font-family: 'Hind', sans-serif;
$fresca-font-family: 'Fresca', sans-serif;