$background-color: #21232e;
$img: url(../img/m-h-night.jpg);
$font-family:'Source Sans Pro', sans-serif;
$markedText: #ff4e33;
$headerTextColor: #fff;
$buttonColor: #e3ac00;
$welcomeTitle: #fff;
$cardBackgroundColor: #3b3f50;
$cardTitleColor: #fff;
$cardTextColor: #bbc3c4;
$cardLinkColor: #c0c3ce;
$bunnerColorGradient1: #e3ac00;
$bunnerColorGradient2: #922b54;
$bunerTitleColor: #fff;
$bunnerTextColor: #d0c6c6;
$footerBackgroundColor: #3b3f50;
$footerTextColor: #b4bfd1;

$source-font-family: 'Source Sans Pro', sans-serif;
$hind-font-family: 'Hind', sans-serif;
$fresca-font-family: 'Fresca', sans-serif;